@page "/contacts"

<PageTitle>Томобсада - Контактная информация</PageTitle>

<div class="contacts">
    <div class="item1" style="background-color:white; text-align:center;margin:0;margin-top:20px;margin-bottom:20px;">
        <h1 style="color:#3c1d17;margin-bottom:0;">Свяжитесь с нами</h1>
    </div>
    <div class="contact_information">
        <h4>Напишите или позвоните нам: мы всегда рады предоставить бесплатную консультацию и ответить на любые вопросы.</h4>
    </div>
    <div class="item3">
        <img style="" src="/Images/Logo-White_Obvodka-03.svg" />
    </div>
    <div class="contact_information2">
        <h3>Будем на связи</h3>
        <h4>32-64-75 // lestnica.tomsk@yandex.ru</h4>
    </div>
    <div class="item4" style="">
        <h1 style="">ТОМОБСАДА</h1>
    </div>
</div>

@code {
}
